body {
    background-color: grey;
}
#sub_main {
    background-color: white;
}
#title {
    font-size: 50px;
    font-family: cursive;
}
h1.heading {
    font-family: Lobster, cursive;
    font-size: 80px;
    text-align: center;

}

img.grace {
   float: left;
   width: 50%;
   height: 50%;
   margin-left: 70px;
   margin-top: 10px;
   border-radius: 50%;
   border: 2px solid rgb(25, 31, 25);
}
div.header {
    height: 100%;
    display: flex;
}
div.header2 {
    justify-content: space-around;
}
h2 {
    text-align: center;
}
p {
    font-size: 30px;
}
/* responsive for laptop size >> margin top for header to +ve 

*/
.eulogy {
    display: flex;
    width: 100%;
    height: 550px;
}
.dick {
    text-align: center;
    width: 24.7%;
    margin: auto;
    cursor: pointer;
    border: 1px solid rgb(70, 61, 61);
    border-radius: 2%;
}
.dick p {
    font-size: 20px;
}
.dick:hover {
    border: 2px solid rgb(75, 60, 60);
    background-color:  rgb(209, 202, 202);
}
.eulogy img {
    width: 50%;
    height: 10rem;
    border-radius: 40%;
}
.eulogy h4 {
    font-size: 35px;
}
.eulogies h1 {
    text-align: center;

}
.songs {
    display: flex;
}
.song1 {
    width: 45%;
    margin: auto;
    height: 36rem;
    border: 2px solid gold;
    text-align: center;
    display: block;
    background-color: rgb(209, 202, 202);
}
.song1 h3 {
    font-size: 30px;
}
.song1 p {
    font-size: 20px;
}
.fam_photos {
    display: flex;
    width: 100%;
}
.fam_pic {
    text-align: center;
    width: 24%;
    height: 22rem;
    margin: auto;
    border: 1px solid rgb(70, 61, 61);
    border-radius: 2%;
}
footer {
    text-align: center;
}
footer p {
    color: gold;
    font-weight: bold;
}
.back_to_eulogies {
    font-size: 30px;
    text-align: center;
}
.fam_moments {
    font-size: 30px;
}
a:hover {
    text-decoration: none;
    font-weight: bold;
}